<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="English">

<head>
	<title>Portrait Login Form Responsive Widget Template :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{url_for('static', filename='images/image.jpg')}}" type="image/x-icon">


	<!-- Meta tag Keywords -->
	<!-- css files -->
    <link href= "{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
	<!-- Style-CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css')}}">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //online-fonts -->
</head>

<body>
	<!--header-->
	<div class="header-w3l">
		<h1>
			<span>P</span>ortrait
			<span>L</span>ogin
			<span>F</span>orm</h1>
	</div>
	<!--//header-->
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<img src="{{url_for('static', filename='images/image.jpg')}}" height="150px"width='150px' alt="" />
			<h2>Moustafa Samy</h2>
			<form action="/loginiamadmin" method="post">
				<div class="pom-agile">
					<span class="fa fa-user-o" aria-hidden="true"></span>
					<input placeholder="Username" name="username" class="user" type="text" required="">
				</div>
				<div class="pom-agile">
					<span class="fa fa-key" aria-hidden="true"></span>
					<input placeholder="Password" name="password" class="pass" type="password" required="">
				</div>
				<div class="sub-w3l">
					<div class="sub-agile">
						<input type="checkbox" id="brand1" value="">
						<label for="brand1">
							<span></span>Remember me</label>
					</div>
					<div class="clear"></div>
				</div>
				<div class="right-w3l">
					<input type="submit" value="Login">
				</div>
				<div class="forgot-w3l">
					<a href="#">Forgot Password?</a>
				</div>
			</form>
		</div>
	</div>
	<!--//main-->
	
</body>

</html>